input{
    border: 1px solid lightskyblue;

}
div{
    margin: 3% 0 3% 35%;
    width: 30%;
    text-align: center;
}
table{
    width: 100%;

}
input,label{
    margin: 20px 0 20px 0;
}
button{
    width: 60%;
    margin: auto;
}