<div class="elem">
    <div class="desc">
        <h2 class="text-light"><span class="num text-dark">1</span> Register and Search Vehicles</h2>
        <p class="text-light">
            Create an account on Copart and choose your membership. Basic offers limited bidding, while Premier allows
            unlimited access.
            Search for vehicles using filters like make, model, or condition. Each listing provides photos and details
            about
            the car’s status.
            Save your favorite vehicles or get ready to place bids when you’re interested.
        </p>
    </div>

    <img src="file (1).png" alt="">
</div>
<div class="elem2">
    <img src="file (3).png" alt="">
    <div class="desc">
        <h2 class="text-dark"><span class="num bg-dark text-light">2</span> Place Bids</h2>
        <p class="text-dark">
            Start with a pre-bid to set your maximum offer. Copart will bid for you during the live auction.

            Join the live auction to compete in real time. The highest bid wins the vehicle.

            If you win, you’ll get an invoice with the total amount and payment instructions.
        </p>

    </div>
</div>
<div class="elem3">
    <div class="desc">
        <h2 class="text-light"><span class="num bg-dark text-light">3</span> Payment and Pickup</h2>
        <p class="text-light">
            Pay for your vehicle within two business days using approved methods like wire transfer.

Once payment is confirmed, pick up your car from the yard or arrange delivery.

For international buyers, Copart offers shipping and export services.
        </p>
    </div>
    <img src="Remove background project.png" alt="">
</div>