<main>
    <a [routerLink]="['/home']"><img src="tupart_red-removebg-preview.png" alt=""></a>
    <div class="rech">
            <button (click)="onclick(value)"><i class="bi bi-search"></i></button>
            <input type="text" placeholder="       Serach Specified Inventory From Here" #value >
            <div class="serchedvalue">
                @for (item of cars2; track $index) {
                    <a [routerLink]="['/cardetails',item.id]" (click)="refresh()">
                         <div class="value" >
                        <img [src]="item.image[0]" alt="">
                        <div>
                        {{item.brand}}
                        {{item.model}}
                    </div>
                    </div>
                    </a>
                   
                }
            </div>
            <button class="invent bg-warning"  >  Serach Inventory  </button>
            
    </div>
    <div class="auth">
        @if(this.aurhservice.currentUserSig()){
            <button class="text-light fw-bold btn" (click)="accountdetail()">
                {{this.aurhservice.currentUserSig()?.username}}
            </button>
            <button class="bg-danger text-light" (click)="logout()">Log Out</button>
        }
        @else {
            <button class="bg-warning" [routerLink]="['/register']">Register</button>
            <button class="bg-primary text-light" [routerLink]="['/login']">Sign In</button>
        }
    </div>
</main>

<ul class="nav nav-tabs bg-dark " >
    <li class="nav-item"><a class="text-light" [routerLink]="['/howItWorks']">How It Works</a></li>
    <li class="nav-item"><a class="text-light" [routerLink]="['/inventory']">Inventory</a></li>
    <li class="nav-item"><a class="text-light" href="#">Auctions</a></li>
    <li class="nav-item"><a class="text-light" href="#">Locations</a></li>
    <li class="nav-item"><a class="text-light" [routerLink]="['/support']">Services & Support</a></li>
</ul>
